---
---

// Variables
$primary-color-dark:   #7B1FA2;
$primary-color:        #79589F;
$primary-color-light:  #E1BEE7;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

// Mixins
@mixin subtle-shadow($width, $opacity) {
	box-shadow: 0 0 $width rgba(0,0,0,$opacity);
	-moz-box-shadow: 0 0 $width rgba(0,0,0,$opacity);
	-webkit-box-shadow: 0 0 $width rgba(0,0,0,$opacity);
}
@mixin subtle-text-shadow($width, $opacity) {
	text-shadow: 0 2px $width rgba(0,0,0,$opacity);
	-moz-text-shadow: 0 2px $width rgba(0,0,0,$opacity);
	-webkit-text-shadow: 0 2px $width rgba(0,0,0,$opacity);
}

@mixin gradient-overlay {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(156,39,176,0.65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(55%,rgba(0,0,0,0)), color-stop(100%,rgba(156,39,176,0.65)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(156,39,176,0.65) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(156,39,176,0.65) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(156,39,176,0.65) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(156,39,176,0.65) 100%);
}

@font-face {
    font-family: 'Misfits';
    src: url('/fonts/misfits_-webfont.woff2') format('woff2'),
         url('/fonts/misfits_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	min-height: 100%;
}

body {
	background-color: #222;
	font-family: "Avenir Next", Helvetica, Arial, sans-serif;
	font-weight: 500;	
	-webkit-font-smoothing: antialiased;
   	-moz-osx-font-smoothing: grayscale;
  	min-height: 100%;  	
}

nav {
	min-height: 90px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-top: 0;
	// -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	// -moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	// box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2);
	z-index: 999;
}

.nav {
	margin-top: 13px;
}

.row.no-gutter {
   margin-right: 0;
   margin-left: 0;
}

.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.navbar-brand {
	border: none;
}

.navbar-inverse {
	border: none !important;
}

.inverse {
	color: #999;
	text-align: center;
}

.inverse a {
	color: #aaa;
}

.inverse a:hover {
	color: $primary-color;
}

.inverse .header-icons a span {
	color: #aaa;
}

.inverse .header-icons a span:hover {
	color: $primary-color;
}

.navbar-default {
	margin-bottom: 0;
	border: none;
	min-height:120px;
	border-top: 25px solid $primary-color;
	border-bottom: 1.5px solid rgba(0,0,0,0.1);
}

.navbar-collapse {
	border: none !important;
}

a {
	color: $primary-color;
}

h1,h2,h3,h4,h5 {
	color: $primary-color;
}

h1 {
	transform: rotate(-2deg);
	color: $primary-color;
	font-size: 5.5rem;
	margin-bottom: 32px;
}

h3 {
	font-size: 1.9em;
	letter-spacing: -1px;
}

h3 a {
	color:#555;
}

h3 a:hover {
	text-decoration: none;
}

h4 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: normal;
}

a h4 {
	color: #555;
}

a p {
	color: #555;
}

a:hover p {
	text-decoration: none;
} 

a span:not(.header-icons) {
	color: #555;
}

a:hover span {
	color: $primary-color;
}

a:hover h4 {
	color: $primary-color;
}

h1,h2 {
	font-family:"Misfits", "Avenir Next", sans-serif;
	letter-spacing: -1px;
}

strong {
	font-weight:600;
}

p {
	margin-top: 1.0em;
	line-height: 1.6em;
}

.red {
	display: inline !important;
	color: $accent-color;
}

hr {
	border-top-color: rgba(0,0,0,0.1);
	margin-top:24px;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-bottom: 5px;
	line-height: 0;
}

.feature:hover {
	opacity: 0.8 !important;
}


.feature-description {
	margin-top: 0px !important;
	border-top: 6px solid rgba(149, 51, 169, 1.0);
	padding: 32px;
	background: #fff;
	margin-left: 0 !important;
	height: 450px;
}

.featured-image {
	background-color: rgba(149, 51, 169, 1.0);
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	position: relative;
	height: 390px;
}

.featured-image-overlay {/* background: rgba(149, 51, 169,.9); */
	@include gradient-overlay;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a67b1fa2',GradientType=0 );
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.4;
}

.featured-image:hover + div h4 {
	color: $primary-color
}

.comic-book-wrapper {
	border-radius: 1px;
	margin-top: 32px;
}

.comic-book {
	position: relative;
	width: 100%;
	height: 420px;
}

.comic-book-title {
	visibility: hidden;
	position: absolute;
	top: 1%;
	padding-top:30%;
	padding-left: 10%;
	padding-right: 10%;
	left: 7%;
	width: 85%;
	height: 85%;
	text-align: center;
	color: #fff;
	border: 4px solid #fff;
}

.comic-book img {
	width: 100%;
	height: auto;
}

.comic-book-wrapper:hover>.comic-book img {
	opacity: 0.0;
	transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    z-index: 3;
}

.comic-book-wrapper:hover> .comic-book h3 {
	visibility: visible;
}

.metadata {
	font-size: 70%;
	font-weight: 700;
	text-transform: uppercase;
	color: $primary-color;
}

.metadata ul {
	display: inline;
	margin: 0;
	padding: 0;
}

.metadata ul li {
	display: inline;
	list-style: none;
}

.metadata ul li:after {
	content: ", ";
}

.metadata ul li:last-child:after {
	content: "";
}

.metadata a {
	color: #ed145b;
	font-weight: 500;
}

.main-page {
	width: 100%;
	background: transparent;
	height: 450px;
	margin-bottom: 20px;
	@include subtle-shadow(20px, 0.05);
	filter: contrast(0.8) brightness(1.1);
} 

.main-bg {
	position: relative;
	width: 100%;
	height: 100%;
}

.main-bg:hover {
	opacity: 0.9;
}

.main-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	@include gradient-overlay;
	filter: brightness(0.6);
}

.main-img:hover + h3 {
	color: #fff;
	text-decoration: none;
	border-bottom: none;
}

.main-img + div {
	position: absolute;
	left: 24px;
	bottom: 8px;
}

.main-img + div>h1, .main-img + div>h3 {
	color: #fff;
	font-weight: 700;
	text-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.logo {
	top: 0px;
	position: absolute;	
	filter: drop-shadow(0px 0px 20px rgba(25,25,25,0.8));
	z-index: 4;
}

.latest-page {
	position: absolute;
	margin-top: -68px;
	bottom: 0px;
	background: rgba(149, 51, 169,.9);
	width: 100%;
	padding-top: 15px;
	padding-bottom: 0.5px !important;
	text-transform: uppercase;
	font-family: "Avenir Next";
	font-size: 21px;
	font-weight: 700;
	color: #fff;
	text-align: center;
}

.latest-page p {
	margin-top: 0;
}

.form {
	margin-top: 10px;
	padding: 40px;
	background-color: #fff;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.035);
	-moz-box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.035);
	box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.035);
}

.form h2 {
	margin-top: 0px;
}

.panel {
	border: 2px solid #9533a9;
	border-radius: 3px;
}

.panel h4 {
	padding-bottom: 16px;
}

.panel:hover {
	background: #9533a9;
}

.panel:hover a {
	color: #fff !important;
	text-decoration: none !important;
}

.panel:hover h4 {
	color: #fff !important;
}

.panel:hover span {
	color: #fff;
}

.post {
	margin-top: 24px;
	padding: 24px;
	padding-bottom: 16px;
	background: #fff;
	@include subtle-shadow(20px, 0.025);
}

.post strong {
	color: #333;
}

.post:hover>.featured-image-overlay {
	background-blend-mode: normal;
}

.post-link {
	position: absolute;
	top: 0; 
	left:0;
	width: 100%;
	height: 100%;
}

div.post:first-child {
}

.post a {
	font-weight: 600;
}

.post img {
	padding: 8px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.more {
	font-size: 70%;
	font-weight: 700 !important;
	text-transform: uppercase;
	color: $primary-color;
}

.white {
	background: rgb(247, 247, 247);
	overflow: hidden;
	padding-bottom: 60px;
}

.admin {
	border-bottom: none !important;
	line-height: 2.0em;
}

footer {
	padding-top: 60px;
	font-family: "Avenir Next";
	font-size: 95%;
	background: #252525;
	color: #999;
}

footer a {
	color: #a0a0a0;
}

footer h5 {
	margin-top:10px;
	color: #666;
	font-weight: 700;
	letter-spacing: 0px;
}

footer a:hover {
	color: #eee;
	text-decoration: none;
}

footer ul {
	margin-left: 0;
	padding: 3px 20px 20px 0px;
}

footer li {
	padding-top: 6px;
	padding-bottom: 6px;
	list-style: none;
	line-height: 1.25;
}

.disclaimer {
	margin-top:-4px;
	padding-bottom: 32px;
	font-size: 1.25rem !important;
	line-height: 1.75rem;
	font-style: italic;
	font-weight: 400;	
}

.footer-image {
	transform: rotate(-5deg);
	margin-top: -40px;
	margin-left: -20px;
	opacity: 0.2;
	width: 115%;
	height: 115%;
}

.copyright p {
	padding-top: 20px;
	padding-bottom: 0;
	font-family: "Avenir Next";
	font-size: 90%;
	color: #666;
}

.copyright a {
	color: #777 !important;
}

.social-icons {
	margin-top: 0px;
}

.social-icons a {
	margin-top: -50px;
	padding: 0 5px 40px 5px;
	color: #666;
}

.social-icons a span:hover {
	padding-top: 0;
	text-decoration: none;
} 

div.header-icons {
	display:inline-block;
	margin-left: 30px;
	margin-top: -10px;
	margin-bottom: 16px;
	font-size: 22px;
	line-height:.5;
	text-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
}

.header-icons a {
	padding: 0 2px 0 2px;
}

.header-icons a:hover {
	color: #ccc;
	text-decoration: none;
}

.brand {
	transform: rotate(-2deg);
	opacity: 0.95;
}

.brand:hover {
	opacity: 1.0;
}

.scrolled {
	margin-top:-90px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input {
	width: 100%;
	background: transparent !important;
}

textarea {
	width: 100%;
}

label {
}

input, textarea, button, label, option, select, .button, .hndle {
	border-radius: 0 !important;
	-webkit-appearance: none;
}

.search-icon {
	color: #777;
	float: left; 
	margin-top: -27px;
	z-index: 999;
}

.search-icon.active{
	color: #9533a9;
}

.btn {
	border-radius: 3px !important;
}

.dropzone {
	min-height: 60px;
	text-align: center;
	color: #bbb;
	background: #efefef;
	border-radius: 2px;
	border: 1.5px dashed #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: copy;
}

.dropzone.dragover {
	background: #ddd;
	cursor: copy;
}

.output {
	line-height: 1.5;
	font-size: 90%;
}

.output img {
	margin-bottom: 16px;
	max-height: 200px;
}

.grid-item {
	width: 33%;
	padding: 16px;
}

.grid-item img {
	width: 100%;
	height: 100%;
}

.cat-list {
	padding-left: 0;
	font-weight: 500;
	list-style-type: none;
}

.navbar-toggle {
	margin-right:0;
}

.icon-bar {
	height: 3px !important;
	background: $primary-color !important;
}

.navbar-brand {
	padding-top: 11px;
	padding-right: 20px;
}

.navbar-brand img {
	filter: drop-shadow(0px 0px 1px rgba(25,25,25,0.2));
	width: 225px;
}

.navbar-default .nav>li a {
	color: $primary-color;
	font-size: .975em;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 30px;
	margin-bottom: 0;	
}

.navbar-default .nav>li a:hover {
	border-bottom: 2px solid $primary-color;
}

@media (min-width: 768px) and (max-width: 1000px) {
	.navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-brand {
    	padding-top: 12px;
    }
	.logo {
		padding-top: 40px;
		padding-bottom: 45px;
		width: 70%;
		margin-left: 15%;
	}
	.header-icons {
    	display: none;
    }
    .nav>li a {
    	text-align: center;
    }
}

@media (max-width: 768px) {
	.logo { 
		padding-top: 40px;
		padding-bottom: 45px;
		width: 70%;
		margin-left: 15%;
	}
	.navbar-brand {
    	padding-top: 14px;
    }
    .navbar-brand img {
    	width: 200px;
    }
	.inverse {
		display: none;
	}
	body {
	}
    .header-icons {
    	display: none;
    }
    .nav>li a {
    	text-align: center;
    }
    .nav>li a:hover {
    	border-bottom: none;
    }
    .feature {
    	margin-top: 32px !important;
    }
    footer {
    	text-align: center;
    }
    footer ul {
    	text-align: left;
    }
    footer ul:first-child {
    	margin-top: 32px;
    	margin-left: 0 !important;
    }
    footer h5 {
    	text-align: left;
    }
    .footer-image {
    	width: 65%;
    	margin-left: auto;
    	margin-right: auto;
    	text-align: center;
    }
}

@media (min-width: 768px){
   /* .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    
    .navbar-nav>li {
        display: table-cell;
        float: none;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
    } */

    /* .brand {
		width: 350px;
		margin-top: -20px;
		display:inline-block;
		padding: 0 0 15px 0;
	} */
	
	.logo {
		padding-top: 40px;
		padding-bottom: 45px;
		margin-left: 30%;
		width: 19%;
	}

	.toggled {
		display: none;
	}

	footer ul {
    	min-height: 250px;
    }
}

@media (max-width: 1440px) {
	.navbar-right {
		display:none !important;
	}

}

@media (min-width: 1440px) {
	.navbar-nav.navbar-center {
		position: absolute;
		left: 53%;
		transform: translatex(-50%);
	}
  .active {
		color: $primary-color !important;
		border-bottom: 2px solid $primary-color;
	}
} 