/* CSS transitions */
a, li {
	/* Unfortunately, it doesn't seem posible to do exclude background-position from all, so just don't use any sprites */
	transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
	-webkit-transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
}

img {
	transition: all .3s cubic-bezier(0.64,0.20,0.02,0.35);
	-webkit-transition: all .4s cubic-bezier(0.64,0.20,0.02,0.35);
}

input, textarea, button, label, option, select, .button, .hndle {
	transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
	-webkit-transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
}
/* End Transitions */

html {
	min-height: 100%;
}

body {
	padding-top: 55px;
	-webkit-font-smoothing: antialiased;
   	-moz-osx-font-smoothing: grayscale;
  	min-height: 100%;
  	background: #222;
}

nav {
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
	z-index: 999;
}

h1,h2,h3,h4,h5 {
	color: #9533a9;
}

h3 {
	letter-spacing: -1px;
}

h1,h2 {
	letter-spacing: -2px;
}

label {
	font-size: 18px;
	font-weight: 600;
} 

.inverse {
	background: #252525;
	text-align: center;
}

.inverse p {
	display:inline-block;
	font-family:'Avenir Next';
	color:#ccc;
	font-weight:500;
	font-size:89%;
	margin-left:30px;
	padding: 20px 0 0 0;
	margin-bottom: 0;
}

.inverse a {
	color: #ddd;
}

.inverse a:hover {
	color: #fff;
}

.metadata {
	font-family: "Avenir Next";
	font-weight: 500;
	color: #222;
}

.metadata ul {
	display: inline;
	margin: 0;
	padding: 0;
}

.metadata ul li {
	display: inline;
	list-style: none;
}

.metadata ul li:after {
	content: ", ";
}

.metadata ul li:last-child:after {
	content: "";
}

.main-page {
	position: relative;
	margin-top: -34px;
	background: #9533a9;
	min-height: 600px;
	margin-bottom: 30px;
	-webkit-box-shadow: inset 0px 0px 211px 0px rgba(0,146,214,.4);
	-moz-box-shadow: inset 0px 0px 211px 0px rgba(0,146,214,.4);
	box-shadow: inset 0px 0px 211px 0px rgba(0,146,214,.4);
} 

.main-bg {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate3d(-50%,-50%,0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main-bg img {
	min-height: 100%;
	max-width: 100%;
	opacity: 0.2;
}

.main-bg:hover {
	z-index: 999 !important;
}

.main-bg img:hover {
	opacity: 1.0 !important;
}

.logo {
	filter: drop-shadow(0px 0px 20px rgba(25,25,25,0.4));
}

.logo:hover {
	z-index: 0 !important;
}

.logo img:hover {
	opacity: 0;
}

.latest-page {
	background: rgba(26, 39, 51, 0.45);
	position: relative;
	padding-top: 15px;
	padding-bottom: 0.5px !important;
	text-transform: uppercase;
	font-family: "Avenir Next";
	font-size: 21px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	/* // -webkit-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.4);
	// -moz-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.4);
	// box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.4);
	// z-index: 999; */
}

.post {
	margin-top: 37px;
	overflow-x: wrap;
}

.post img {
	padding: 10px;
	max-width: 65%;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.more {
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
}

.white {
	background: #fff;
	padding: 30px 0 60px 0;
}

footer {
	font-family: "Avenir Next";
	font-size: 80%;
	padding-top: 40px;
	padding-bottom: 30px;
	background: #252525;
	color: #999;
}

footer a {
	color: #999;
}

footer h4 {
	color: #999;
}

footer a:hover {
	color: #eee;
}

footer ul {
	border: 1px solid #333;
	border-radius: 2px;
	background: #222;
	padding: 3px 20px 20px 20px;
}

footer li {
	list-style: none;
	border-top: 1px solid #333;
}

footer li:last-child {
	border-bottom: 1px solid #333;
}

.copyright p {
	padding-top: 20px;
	padding-bottom: 0;
	font-family: "Avenir Next";
	font-size: 80%;
	color: #666;
}

.social-icons {
	margin-top: -10px;
}

.social-icons a {
	margin-top: -50px;
	padding: 0 5px 40px 5px;
	color: #666;
}

.social-icons a:hover {
	padding-top: 0;
	text-decoration: none;
	color: #eee;
} 

div.header-icons {
	font-size: 22px;
	margin-top: -50px;
	margin-bottom: -50px;
	line-height:.5;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.05);
}

.header-icons a {
	color: #eee;
	padding: 0 5px 0 5px;
}

.header-icons a:hover {
	color: #fff;
	text-decoration: none;
}

.brand {
	opacity: 0.95;
}

.brand:hover {
	opacity: 1.0;
}

.scrolled {
	margin-top:-90px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
}

label {
	margin-top: 10px;
}

.grid-item {
	width: 33%;
	padding: 5px;
}

.grid-item img {
	width: 100%;
	height: 100%;
}

.cat-list {
	text-align: right;
	padding-left: 0;
	font-family: "Avenir Next";
	font-weight: 500;
	list-style-type: none;
}

.nav {
	height: 55px;
}
	
.nav li a {
	line-height: 1.2;
	padding: 0;
	margin: 25px 20px 25px 20px;
	/* text-transform: uppercase; */
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.05);
}

.nav li a:hover {
	color: #61216e;
	border-bottom: 2px solid #fff;
}
.active {
	color: #fff !important;
	border-bottom: 2px solid #fff;
}

.navbar-toggle {
	margin-right:0;
}

.icon-bar {
	height: 3px !important;
	background: #fff !important;
}

.navbar-brand {
	margin: 12px 0 -10px 0;
	padding-bottom: 0;
	padding-top: 0;
}

.navbar-brand img {
	width: 225px;
}

.bg-scroll {
	opacity: 1;
	position: absolute;
  /* make BG larger than container */
	height: 200%;
	width: 200%;
  /* center bg in container - ratio of 150% */
	top: -50%;
	left: -59%;
	background-size: 75%;
	background: url('') repeat;
	animation: backgroundScroll 50s linear infinite;
	transform: rotate(45deg) scale(1);
	transform-origin: center center;
}

@keyframes backgroundScroll {
	0% {
    background-position: 0 0;
  }
	100% {
    /* pattern bg texture is 1000x1000px */
    background-position:0 -1000px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
	.logo {
		padding-top: 40px;
		padding-bottom: 45px;
		width: 70%;
		margin-left: 15%;
	}
	
	.header-icons {
    	display: none;
    }
}

@media (max-width: 768px) {
	.logo { 
		padding-top: 40px;
		padding-bottom: 45px;
		width: 70%;
		margin-left: 15%;
	}

	.inverse {
		display: none;
	}

	body {
		padding-top: 55px;
	}
	
	.navbar-nav>li {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: -1px;
    }
    
    .header-icons {
    	display: none;
    }

    .navbar-brand {
    	margin-top: 18px;
    }
}

@media (min-width: 768px){
   /* .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    
    .navbar-nav>li {
        display: table-cell;
        float: none;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
    } */
    
    .navbar-nav>li {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: -.5px;
        
    }

    /* .brand {
		width: 350px;
		margin-top: -20px;
		display:inline-block;
		padding: 0 0 15px 0;
	} */
	
	.logo {
		padding-top: 30px;
		padding-bottom: 45px;
		margin-left: 35.5%;
		width: 28%;
	}

	.toggled {
		display: none;
	}

	footer ul {
    	min-height: 250px;
    }
} 