/* CSS transitions */
a, li {
	/* Unfortunately, it doesn't seem posible to do exclude background-position from all, so just don't use any sprites */
	transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
	-webkit-transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
}

img {
	transition: all .3s cubic-bezier(0.64,0.20,0.02,0.35);
	-webkit-transition: all .4s cubic-bezier(0.64,0.20,0.02,0.35);
}

input, textarea, button, label, option, select, .button, .hndle {
	transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
	-webkit-transition: all .25s cubic-bezier(0.64,0.20,0.02,0.35);
}
/* End Transitions */

html {
	min-height: 100%;
}

body {
	padding-top: 55px;
	-webkit-font-smoothing: antialiased;
   	-moz-osx-font-smoothing: grayscale;
  	min-height: 100%;
  	background: #222;
}

nav {
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
	z-index: 999;
}

/* .navbar {
	-webkit-box-shadow: inset 0px 0px 80px 0px rgba(0,146,214,.2);
	-moz-box-shadow: inset 0px 0px 80px 0px rgba(0,146,214,.2);
	box-shadow: inset 0px 0px 80px 0px rgba(0,146,214,.2);
} */

.navbar-brand {
	border: none;
}

.navbar-inverse {
	border: none !important;
}
.navbar-collapse {
	border: none !important;
}

h1,h2,h3,h4,h5 {
	color: #9533a9;
}

h3 {
	letter-spacing: -1px;
}

h1,h2 {
	letter-spacing: -2px;
}

.metadata {
	font-family: "Avenir Next";
	font-weight: 500;
	color: #222;
}

.metadata ul {
	display: inline;
	margin: 0;
	padding: 0;
}

.metadata ul li {
	display: inline;
	list-style: none;
}

.metadata ul li:after {
	content: ", ";
}

.metadata ul li:last-child:after {
	content: "";
}

.main-page {
	position: relative;
	margin-top: -34px;
	background: #9533a9;
	height: 725px;
	margin-bottom: 30px;
	-webkit-box-shadow: inset 0px 0px 211px 0px rgba(0,146,214,.4);
	-moz-box-shadow: inset 0px 0px 211px 0px rgba(0,146,214,.4);
	box-shadow: inset 0px 0px 211px 0px rgba(0,146,214,.4);
} 

.main-bg {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate3d(-50%,-50%,0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main-bg img {
	min-height: 100%;
	max-width: 100%;
	opacity: 0.2;
}

.main-bg:hover {
	/* z-index: 999 !important; */
}

.main-bg img:hover {
	opacity: 1.0 !important;
}

.logo {
	filter: drop-shadow(0px 0px 20px rgba(25,25,25,0.4));
}

.latest-page {
	background: rgba(26, 39, 51, 0.45);
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 0.5px !important;
	text-transform: uppercase;
	font-family: "Avenir Next";
	font-size: 21px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	/* // -webkit-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.4);
	// -moz-box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.4);
	// box-shadow: 0px 0px 50px 1px rgba(0,0,0,0.4);
	// z-index: 999; */
}

.post {
	margin-top: 37px;
	overflow-x: wrap;
}

.post img {
	padding: 10px;
	max-width: 65%;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}

.post-header-image {
	display: block;
	position: relative;
	height: 400px;
	width: 100%;
	margin-bottom: 15px;
}

.post-header-image::after {
	content:" ";
	opacity: 0.5;
	background: #9533a9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;     
}

.more {
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
}

.white {
	background: #fff;
	padding: 30px 0 60px 0;
}

footer {
	font-family: "Avenir Next";
	font-size: 80%;
	padding-top: 40px;
	padding-bottom: 30px;
	background: #252525;
	color: #999;
}

footer a {
	font-weight: 600;
	color: #999;
}

footer h4 {
	color: #999;
}

footer a:hover {
	color: #eee;
}

footer ul {
	border: 1px solid #333;
	border-radius: 2px;
	background: #222;
	padding: 3px 20px 20px 20px;
}

footer li {
	list-style: none;
	border-top: 1px solid #333;
}

footer li:last-child {
	border-bottom: 1px solid #333;
}

.copyright p {
	padding-top: 20px;
	padding-bottom: 0;
	font-family: "Avenir Next";
	font-size: 80%;
	color: #666;
}

.social-icons {
	margin-top: -10px;
}

.social-icons a {
	margin-top: -50px;
	padding: 0 5px 40px 5px;
	color: #666;
}

.social-icons a:hover {
	padding-top: 0;
	text-decoration: none;
	color: #eee;
} 

div.header-icons {
	font-size: 22px;
	margin-top: -42px;
	margin-bottom: -50px;
	line-height:.5;
	text-shadow: 1px 1px 1px rgba(0,0,0, 0.05);
}

.header-icons a {
	color: #ddd;
	padding: 0 5px 0 5px;
}

.header-icons a:hover {
	color: #fff;
	text-decoration: none;
}

.brand {
	opacity: 0.95;
}

.brand:hover {
	opacity: 1.0;
}

.scrolled {
	margin-top:-90px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
}

label {
}

input, textarea, button, label, option, select, .button, .hndle {
	border-radius: 0 !important;
	webkit-appearance: none;
}

.btn {
	font-family: "Avenir Next";
}

.dropzone {
	margin-top: -3px;
	text-align: center;
	color: #bbb;
	background: #efefef;
	border: 1px dashed #eee;
	padding-top: 20px;
	padding-bottom: 20px;
}
.grid-item {
	width: 33%;
	padding: 5px;
}

.grid-item img {
	width: 100%;
	height: 100%;
}

.cat-list {
	text-align: right;
	padding-left: 0;
	font-family: "Avenir Next";
	font-weight: 500;
	list-style-type: none;
}

.navbar-toggle {
	margin-right:0;
}

.icon-bar {
	height: 3px !important;
	background: #fff !important;
}

.navbar-brand {
	padding-top: 5px;
	padding-right: 20px;
}

.navbar-brand img {
	filter: drop-shadow(0px 0px 1px rgba(25,25,25,0.2));
	width: 225px;
}

.nav>li a {
	font-weight: 700;
	letter-spacing: -.5px;
}

@media (min-width: 768px) and (max-width: 1000px) {
	.navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-brand {
    	padding-top: 12px;
    }
	.logo {
		padding-top: 40px;
		padding-bottom: 45px;
		width: 70%;
		margin-left: 15%;
	}
	.header-icons {
    	display: none;
    }
    .nav>li a {
    	text-align: center;
    }
}

@media (max-width: 768px) {
	.logo { 
		padding-top: 40px;
		padding-bottom: 45px;
		width: 70%;
		margin-left: 15%;
	}
	.navbar-brand {
    	padding-top: 14px;
    }
    .navbar-brand img {
    	width: 200px;
    }
	.inverse {
		display: none;
	}

	body {
		padding-top: 55px;
	}
    
    .header-icons {
    	display: none;
    }
    .nav>li a {
    	text-align: center;
    }
    .nav>li a:hover {
    	border-bottom: none;
    }
}

@media (min-width: 768px){
   /* .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    
    .navbar-nav>li {
        display: table-cell;
        float: none;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
    } */

    /* .brand {
		width: 350px;
		margin-top: -20px;
		display:inline-block;
		padding: 0 0 15px 0;
	} */
	
	.logo {
		padding-top: 30px;
		padding-bottom: 45px;
		margin-left: 35.5%;
		width: 28%;
	}

	.toggled {
		display: none;
	}

	footer ul {
    	min-height: 250px;
    }
}
@media (max-width: 1440px) {
	.navbar-right: display:none !important;
}

@media (min-width: 1440px) {
	.navbar-nav.navbar-center {
		position: absolute;
		left: 53%;
		transform: translatex(-50%);
	}
  .active {
		color: #fff !important;
		border-bottom: 1.5px solid #fff;
	}
} 