---
layout: default
title: "Blog"
---

<div class="white">
	<div class="row">
		<div class="col-lg-8">
			<h1 style="margin-bottom: 0px;">A Pretty Weird Blog</h1>
			<div class="post" style="padding-top:32px;">
				<form action="/search.html" method="get">
					<div style="margin-top: -25px;">
						<label for="search">Search This Site:</label>
						<input class="search" type="text" id="search-box" name="query" style="padding-left: 25px;" placeholder="Search...">
						<span style="color: #555;" class="fa fa-search search-icon"></span>
					</div>
				</form>
			</div>
			{% for post in site.posts %}
				<a class="feature" href="{{ post.url }}">
					<div class="post">
						{% if post.image_path %}
							<div class="post-header-image-wrapper">
								<div class="post-header-image" style="background: no-repeat top center/cover url('{{ post.image_path }}');"></div>
							</div>
						{% endif %}
						<div class="metadata">
							<span>Posted on</span>
							<span>
								{% if post.date %}
									{{ post.date | date_to_long_string }}
								{% endif %}
							</span>
						</div>
						<h4 style="margin-top:0px"> {{ post.title }} </h4>
						<p style="margin-top: -11px">{{ post.excerpt }}</p>
						{% if post.excerpt != post.content %}
							<p style="margin-top:-10px;">
							    <span class="more">Read more...</span>
							</p>
						{% endif %}
					</div>
				</a>
			{% endfor %}
		</div>
		<div class="col-lg-4">
			<div class="row">
				<h1 style="margin-bottom: 0;">&nbsp;</h1>
				<div class="post">
					<h4 style="margin-top:0px">Categories/Tags</h4>
					<div class="metadata">
						<ul class="cat-list">
							{% for category in site.categories %}
								<li><a href="/categories#{{ category | first }}">{{ category | first }}</a></li>
							{% endfor %}
						</ul>	
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="post">
					<h4 style="margin-top:0px">Featured Posts</h4>
					<div class="metadata">
						<ul class="cat-list">
							{% for post in site.posts %} 
								{% if post.categories contains "featured" %}
									<a href="{{ post.url}}">{{ post.title }}</a>
								{% endif %}
							{% endfor %}	
						</ul>	
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="post">
					<h4 style="margin-top:0px">Awesome Stuff</h4>
					<div class="metadata">
						<ul class="cat-list">
							{% for post in site.posts %} 
								{% if post.categories contains "awesome" %}
									<a href="{{ post.url}}">{{ post.title }}</a>
								{% endif %}
							{% endfor %}
						</ul>	
					</div>
				</div>	
			</div>			
		</div>
	</div>
</div>