---
layout: default
title: "Comics"
---

<div class="row">
	<div class="col-lg-12">
		<h1>Comics</h1>
		<div class="grid">
			{% assign prevtitle = '' %}
			{% assign comics = site.comics | sort:'title' %}
			{% for comic in comics %}
				{% if forloop.first %}
					<div class="grid-item hvr-shrink">
						<a href="{{ comic.url }}" title="{{ comic.title }}" description="{{ comic.title }}"><img class="hvr-rectangle-out" src="{{ comic.image_path }}" title="{{ comic.title }}" description="{{ comic.title }}"/></a>
					</div>
				{% else %}
					{% if comic.title != prevtitle %}
						<div class="grid-item hvr-shrink">
							 <a href="{{ comic.url }}" title="{{ comic.title }}" description="{{ comic.description }}"><img class="hvr-rectangle-out" src="{{ comic.image_path }}" title="{{ comic.title }}" description="{{ comic.description }}" /></a>
						</div>
						{% assign prevtitle = comic.title %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
