---
layout: default
title: "Gallery"
---
<div class="row">
	<div class="col-lg-6">
		<h2>Gallery</h2>
		<form style="margin-top: 0px;" action="/search.html" method="get">
			<div>
				<input type="text" id="search-box" name="query" placeholder="Search Artworks...">
				<span class="fa fa-search" style="float: right; margin-top: -27px;"></span>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="grid">
			{% assign prevtitle = '' %}
			{% assign artworks = site.artworks | sort:'title' %}
			{% for artwork in artworks %}
				{% if forloop.first %}
					<div class="grid-item hvr-shrink">
						<a href="{{ artwork.url }}"><img src="{{ artwork.image_path }}" /></a>
					</div>
					{% assign prevtitle = artwork.title %}
					{% else %}
						<h1>{{ previndex }}</h1>
						{% if artwork.title != prevtitle %}
							<div class="grid-item hvr-shrink">
								 <a href="{{ artwork.url }}"><img class="hvr-fade" src="{{ artwork.image_path }}" /></a>
							</div>
							{% assign prevtitle = artwork.title %}
						{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>