---
layout: default
title: "Gallery"
---

<div class="row">
	<div class="col-lg-12">
		<h1>Gallery</h1>
		<div class="grid">
			{% assign prevtitle = '' %}
			{% assign artworks = site.artworks | sort:'title' %}
			{% for artwork in artworks %}
				{% if forloop.first %}
					<div class="grid-item hvr-grow-shadow">
						<a href="{{ artwork.url }}" title="{{ artwork.title }}" description="{{ artwork.title }}"><img src="{{ artwork.image_path }}" title="{{ artwork.title }}" /></a>
					</div>
					{% assign prevtitle = artwork.title %}
					{% else %}
						<h1>{{ previndex }}</h1>
						{% if artwork.title != prevtitle %}
							<div class="grid-item hvr-grow-shadow">
								 <a href="{{ artwork.url }}" title="{{ artwork.title }}" description="{{ artwork.title }}"><img class="hvr-fade" src="{{ artwork.image_path }}" title="{{ artwork.title }}" /></a>
							</div>
							{% assign prevtitle = artwork.title %}
						{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>