---
layout: default
title: Pretty Weird Art
---
{% include main.html %}

<!-- New posts content -->
{% for post in posts %}
{% endfor %}

<!-- Basic post format -->
<div class="row">
	<div class="col-lg-offset-2 col-lg-7">
		<span class="metadata">July 12th, 2017 :: Posted in: <a href="category">Category</a></span>
		<h3 style="margin-top: 0">About Pretty Weird Art</h3>
		<p>Pretty Weird Art is the public face of illustrators Ethan and Rachel Mongin. Ethan and Rachel are a couple of self-diagnosed, obsessive-compulsive art makers who love comics, children's literature, and illustration. They are a tag-team dynamic duo who write and illustrate comics, conduct elementary school comic book clubs, and who work as freelance illustrators in Columbia, SC. When they aren’t selling artwork at comic book conventions,  Ethan works as a freelance illustrator and Rachel works as an elementary school teacher.  Occasionally, they are joined by their writing buddy, Mark Szasz, on their creative excursions.<br /> <a href="read-more">Read more...</a></p>
	</div>
</div>