---
layout: default
title: "Search Results"
---
<div class="row">
  <div class="col-lg-8">
	<h5><a href=" {{ site.baseurl }}/blog.html"> < Back to Blog</a></h5>
	<h1>Search Results</h1>
	<div class="post" style="padding-top:32px;">
		<form action="/search.html" method="get">
			<div style="margin-top: -25px;">
				<label for="search">Search This Site:</label>
				<input class="search" type="text" id="search-box" name="query" style="padding-left: 25px;" placeholder="Search...">
				<span style="color: #555;" class="fa fa-search search-icon"></span>
			</div>
		</form>
	</div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
  	<div class="post">
		<ul id="search-results"></ul>
	</div>	
  </div>
</div>

<script>
  window.store = {
	{% for post in site.posts %}
	  "{{ post.url | slugify }}": {
		"title": "{{ post.title | xml_escape }}",
		"author": "{{ post.author | xml_escape }}",
		"categories": {{ post.categories | jsonify }},
		"content": {{ post.content | strip_html | strip_newlines | jsonify }},
		"url": "{{ post.url | xml_escape }}"
	  },
	{% endfor %}
	{% for artwork in site.artworks %}
	  "{{ artwork.url | slugify }}": {
		"title": "{{ artwork.title | xml_escape }}",
		"author": "{{ artwork.author | xml_escape }}",
		"categories": {{ artwork.categories | jsonify }},
		"content": {{ artwork.content | strip_html | strip_newlines | jsonify }},
		"url": "{{ artwork.url | xml_escape }}"
	  },
	{% endfor %}
	{% for comic in site.comics %}
	  "{{ artwork.url | slugify }}": {
		"title": "{{ comic.title | xml_escape }}",
		"author": "{{ comic.author | xml_escape }}",
		"categories": {{ comic.categories | jsonify }},
		"content": {{ comic.content | strip_html | strip_newlines | jsonify }},
		"url": "{{ comic.url | xml_escape }}"
	  },
	{% endfor %}
	{% for convention in site.conventions %}
	  "{{ convention.url | slugify }}": {
		"title": "{{ convention.title | xml_escape }}",
		"author": "{{ convention.author | xml_escape }}",
		"categories": {{ convention.categories | jsonify }},
		"content": {{ convention.content | strip_html | strip_newlines | jsonify }},
		"url": "{{ convention.url | xml_escape }}"
	  },
	{% endfor %}
  };
</script>
<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>