<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				
			</div>
			<div class="col-lg-3">
				<ul>
					<h5>Recent Posts</h5>
					{% assign posts = site.posts | limit: 6 %}
					{% for post in posts %}
						<li><a href="{{ post.url }}">{{ post.date | date_to_long_string }}: {{ post.title }}</a></li>
					{% endfor %}	
				</ul>
			</div>
			<div class="col-lg-3">
				<ul>
					<h5>Recent Comics Updates</h5>
					{% assign sorted = ((site.comics | sort: 'date') | reverse) | limit: 6 %}
					{% for comic in sorted %}
						<li><a href="{{ comic.url }}">{{ comic.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-lg-3">
				<ul>
				<h5>Upcoming Events</h5>
					{% assign conventions = site.conventions | limit: 6 %}
					{% for convention in conventions %}
						<li><a href="{{ convention.url }}">{{ convention.date | date_to_long_string }}: {{ convention.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</footer>
<div class="container">
	<div class="row">
		<div class="col-lg-12 center copyright">
			<div style="margin-top:20px;"></div>
			<p>Copyright © 2017 Pretty Weird Art, LLC. All rights reserved.</p>
			<div class="social-icons">
				<a href="{{ site.baseurl }}/contact.html"><span class="fa fa-envelope" /></span></a><a href="{{ site.facebook }}"><span class="fa fa-facebook" /></a><a href="{{ site.instagram }}"><span class="fa fa-instagram" /></a><a href="{{ site.deviantart }}"><span class="fa fa-deviantart" /></a><a href="{{ site.twitter }}"><span class="fa fa-twitter" /></a></span>
			</div>
		</div>
	</div>
</div>	