</div>

<div class="main-page">
	<div class="main-bg animated fadeInLeft">
		<!-- Add jekyl markdown for proper image source here. -->
		{% for comic in site.comics limit:3 %}
			<div class="col-lg-4 animated zoomInDown" style="margin:0; padding:0;">
				<a href="{{ comic.url }}"><img src="{{ comic.image_path }}" /></a>
			</div>
		{% endfor %}
	</div>	
	<div class="logo animated bounceInLeft"><img src="../images/prettyweirdart_logomark.svg" /></div>
	<div class="latest-page">
		<p>Latest Comic: Check out the latest page from DaMarcus Williams!</p>
	</div>
</div>

<div class="container">