---
layout: admin
title: "Edit Page"
---

<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <h5 style="display:inline"><a href="{{ site.baseurl }}/admin/">Admin</a>></h5><a href="{{ site.baseurl }}/admin/manage-comics.html"><h5 style="display:inline;">Manage Comics></h5><a class="comic-variable" href="{{ site.baseurl }}/admin/manage-pages.html#"><h5 style="display:inline;">Manage Pages:</h5> <h5 class="comic-title" style="display:inline"></h5></a><a class="page-variable" href="{{ site.baseurl }}/admin/edit-page.html#"><h5 style="display:inline;">>Edit Page</h5></a>
            <h2>Edit Page</h2>
                {% assign comics = site.comics | sort:'title' %}
                {% for comic in comics %}
                {% endfor %}

                <form class="form-horizontal">
                    <div>
                        <label for="mail">Main Image:</label>
                        <div class="dropzone" id="image-selection"><div class="output"></div></div>
                    </div>
                    <div>
                        <label for="description" style="margin-top:15px;">Description:</label>
                        <div class="main" style="margin-top:-18px;">
                            <div id="editor">
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 25px;">
                        <label for="categories">Categories/Tags:</label>
                        <input type="text" id="category" name="Categories" placeholder="Enter categories/tags separated by commas.">
                    </div>

                <button class="btn btn-primary"><span class="fa fa-times"></span> Cancel</button>
                <button class="btn btn-primary" type="submit"><span class="fa fa fa-floppy-o"></span> Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    window.store = {
        {% for comic in site.comics %}
          "{{ comic.url | slugify }}": {
            "title": "{{ comic.title | xml_escape }}",
            "author": "{{ comic.author | xml_escape }}",
            "categories": {{ comic.categories | jsonify }},
            "url": "{{ comic.url | xml_escape }}",
            "image_path": "{{ comic.image_path | xml_escape }}",
            "page_num": "{{ comic.page_num | xml_escape }}",
            "content": {{ comic.content | jsonify }}
          },
        {% endfor %}
    };
</script>

<script src="{{ site.baseurl }}/js/lunr.min.js"></script>
<script src="{{ site.baseurl }}/js/admin/edit-page.js"></script>
<script src="{{ site.baseurl }}/js/admin/make-droppable.js"></script>
<script src="{{ site.baseurl }}/js/admin/drag-and-drop.js"></script>
