---
layout: admin
title: "Manage Artworks"
---

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<h5 style="display:inline"><a href=" {{ site.baseurl }}/admin/">Admin</a>></h5><a href="{{ site.baseurl }}/admin/manage-artworks.html"><h5 style="display:inline;">Manage Artworks></h5></a>
		<div class="post">
			<h2>Manage Artworks</h2>
			<table class="table table-striped table-hover">
				<!-- <h4 style="display: inline;">Title</h4> -->
				<div class="pull-right">
					 <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#artwork-modal" style="margin-right: 8px; margin-bottom: 8px;" href="#"><span class="fa fa-file"></span> New Artwork/Collection</a>
				</div>
				<tbody>
					{% assign pagecount = 0 %}
					{% assign prevtitle = '' %}
					{% assign artworks = site.artworks | sort:'title' %}
					{% for artwork in artworks %}
						{% if forloop.first %}
							<tr>
								<td>
									<div class="col-lg-2">
										<a href="{{ site.baseurl }}/admin/manage-artworks.html#{{ artwork.title }}">
										<img src="{{ artwork.image_path }}" class="img-thumbnail" style="max-width: 90px; margin-top: 8px; margin-bottom: 8px;" /></a> 
									</div>
									<div class="col-lg-7">
										<a href="{{ site.baseurl }}/admin/manage-artworks.html#{{ artwork.title }}"><h4>{{ artwork.title }}</h4></a>
									</div>
									<div class="col-lg-3"> 
										<div class="pull-right">
											<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#delete-modal"><span class="fa fa-trash"></span> Delete</button>
											<a href="{{ site.baseurl }}/admin/edit-artwork.html#{{ artwork.title }}" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span> Edit</a>
										</div>
									</div>
								</td>
							</tr>
							{% assign prevtitle = artwork.title %}
						{% else %}
							{% if artwork.title != prevtitle %}
								{% assign pagecount = 0 %}
								<tr>
									<td>
										<div class="col-lg-2">
											<a href="{{ site.baseurl }}/admin/edit-artwork.html#{{ artwork.title }}">
											<img src="{{ artwork.image_path }}" class="img-thumbnail" style="max-width: 90px; margin-top: 8px; margin-bottom: 8px;" /></a> 
									</div>
									<div class="col-lg-7">
										<a href="{{ site.baseurl }}/admin/edit-artwork.html#{{ artwork.title }}"><h4>{{ artwork.title }}</h4></a>
									</div>
										<div class="col-lg-3">
											<div class="pull-right"> 
												<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#delete-modal"><span class="fa fa-trash"></span> Delete</button>
												<a href="{{ site.baseurl }}/admin/edit-artwork.html#{{ artwork.title }}" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span> Edit</a>
											</div>
										</div>
									</td>
								</tr>
								{% assign prevtitle = artwork.title %}
							{% endif %}
						{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Add artwork Modal -->
<div class="modal fade" id="artwork-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" style="display:inline;">Enter a title for the new artwork/collection:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
        	<input type="text" placeholder="Example: A Tail of Two Kitties">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
        <button type="button" class="btn btn-primary btn-sm"><span class="fa fa-floppy"></span> Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete artwork Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" style="display:inline;">Delete artwork</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete</p>
        <p class="comic-title" style="display: inline;"></p>
        <p style="display:inline">?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><span class="fa fa-times"></span> Cancel</button>
        <button type="button" class="btn btn-primary btn-sm"><span class="fa fa-trash"></span> Delete</button>
      </div>
    </div>
  </div>
</div>