{% include head.html %}
<head>
    <link rel="stylesheet" href="{{ site.baseurl }}/plugins/trumbo/dist/ui/trumbowyg.css">
</head>
<script src="{{ site.baseurl }}/js/admin/globals.js"></script>
<body>

    {% include header.html %}
    <div class="white">
        <div class="container">

            {{ content }}

        </div>
    </div>

    {% include footer.html %}

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/plugins/trumbo/dist/trumbowyg.js"></script>
<script src="{{ site.baseurl }}/plugins/date-picker/picker.js"></script>
<script src="{{ site.baseurl }}/plugins/date-picker/picker.date.js"></script>
<script>     
    // Enable Trumbo Editor.
    $.trumbowyg.svgPath = '{{ site.baseurl }}/plugins/trumbo/dist/ui/icons.svg';
    $('#editor').trumbowyg();

    var page = '';
    // Strip Variable data from url when present.
    var liquidRetrievalVars = window.location.hash.split('#')[1] || '';
    var titleClass = liquidRetrievalVars.replace(/ /g, '-').split('-page')[0];
    titleClass = titleClass.replace(/[.,\/#!$%\^&\*;:{}=\_`~()]/g,'');
    var comicVar = liquidRetrievalVars.split(' Page')[0];   

    // // Hide extra data, then display for select page items.
    $('.do-not-display').hide();
    $('.comic-title').html( liquidRetrievalVars );
    if (titleClass !== '') {
        $('.' + titleClass).show();  
    }

    // Append URL variables in order to populate page data.
    $('.comic-variable').attr("href", function(i, href) { return href + comicVar; });
    $('.page-variable').attr("href", function(i, href) { return href + liquidRetrievalVars; });
    // Append active class to items with page id.
    $('#{{ page.title }}').addClass('active');

    $('.delete-button').click(function () {
        page = this.id.split('delete-page-')[1];
        $('.page-number').html(page);
    });

    $('.delete-comic-button').click(function () {
        liquidRetrievalVars = this.id.replace(/ /g, '-');
    }); 
    
    $('#date').pickadate();   
</script>
<script src="{{ site.baseurl }}/js/admin/input-handler.js"></script>
<script src="{{ site.baseurl }}/js/admin/populate-post-editors.js"></script>
</body>

</html>