{% include head.html %}
<style>
    body {
        padding-top: 0;
    }
    .navbar {
        margin-bottom: 0;
    }
</style>

<body>

    {% include header.html %}
    <div class="white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <a href="{{ page.image_path }}" ><img style="max-width: 100%;" src="{{ page.image_path }}" /></a><br />
                        
                        <!-- Pagination -->
                        <ul class="pagination">
                            {% assign comics = site.comics | sort:'title' %}
                            
                            <!-- Create constants. -->
                            {% assign page-count = 0 %}
                            {% for comic in comics %}
                                {% if comic.title == page.title %}
                                    {% assign page-count = page-count | plus: 1 %}
                                {% endif %}
                            {% endfor %}
                            {% assign next-page-num = page.page_num | plus: 1 %}
                            {% assign prev-page = page.page_num | minus: 1 %}

                            <!-- Find the previous page link. -->
                            {% for previous-page in comics %}
                                {% if previous-page.title == page.title %}
                                    <!-- Disable if Page 1. -->
                                    {% if page.page_num == 1 %}
                                        {% if previous-page.page_num == 1 %}
                                            <li class="disabled"><a href="#">«</a></li>
                                        {% endif %}
                                    {% else %}
                                        <!-- Generate only one link for the previous page. -->
                                        {% if previous-page.page_num == prev-page %}
                                            <li class=""><a href="{{ previous-page.url }}">«</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %} 

                            {% for comic in comics %}
                                {% if comic.title == page.title %}
                                    <!-- Create disabled placeholder if is same page. -->
                                    {% if page.page_num == comic.page_num %}
                                        <li class="active"><a href="{{ comic.url }}">{{ comic.page_num }}</a></li>
                                    {% else %}
                                        <li><a href="{{ comic.url }}">{{ comic.page_num }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            
                            <!-- Generate Next Page link. -->
                            {% for next-page in comics %}
                                {% if next-page.title == page.title %}
                                    <!-- Disable if last page. -->
                                    {% if page.page_num == page-count %}
                                        {% if next-page.page_num == page.page_num %}
                                            <li class="disabled"><a href="#">»</a></li>
                                        {% endif %}
                                    {% else %}
                                        <!-- Generate only one link for the previous page. -->
                                        {% if next-page.page_num == next-page-num %}
                                            <li class=""><a href="{{ next-page.url }}">»</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="center">
                        <h3 style="margin-top: -15px">{{ page.title }}</h3>
                    </div>
                    {{ content }}
                </div>
            </div>       
        </div>
    </div>

    {% include footer.html %}

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    $(function () {
        var $navbar = $(".navbar-inverse");
        $navbar.removeClass('navbar-fixed-top');
      });

    $('#{{ page.title }}').addClass('active'); 
</script>

</body>

</html>