{% include head.html %}

<body>

    {% include header.html %}
    <div class="white">
        <div class="container">
            {% if page.id %}
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="post">
                            <span class="metadata"><a href=""></a> :: Posted in: 
                            {% for category in page.categories %}
                                <a href="/categories/#{{ category }}">{{ category }}</a>
                            {% endfor %}
                            </span>
                            <h3 style="margin-top:0;"> {{ page.title }} </h3>
            {% endif %}

            {{ content }}

            {% if page.id %}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

    {% include footer.html %}

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/plugins/textillate-master/assets/jquery.fittext.js"></script>
<script src="{{ site.baseurl }}/plugins/textillate-master/assets/jquery.lettering.js"></script>
<script src="{{ site.baseurl }}/plugins/textillate-master/jquery.textillate.js"></script>
<script>
    $('.tlt').textillate(); 

    $('#{{ page.title }}').addClass('active');

    $('.grid').masonry({
      // options
      itemSelector: '.grid-item' });
</script>

</body>

</html>