{% include head.html %}

<body>

    {% include header.html %}
    {% if post.image_path %}
      <div id="feature-" class="featured-image" style="padding-bottom: 0px; margin-bottom: 0px;">
        <div class="featured-image-overlay" style="filter: saturate(1.25) brightness(0.6); background: no-repeat center center/cover url({{ post.image_path }}); background-blend-mode: luminosity; background-color: inherit;"></div>
      </div>
    {% endif %}
        <div class="container">
            {% if page.id %}
            <div class="white">
              <div class="row">
                <div class="col-lg-12">
                    <div class="post" style="margin-top: 30px;">
                        <span class="metadata"><a href=""></a>Posted 
                        <ul> 
                          {% for category in page.categories %}
                              <li><a href="{{ site.baseurl }}/categories/#{{ category }}">{{ category }}</a></li>
                          {% endfor %}
                        </ul>
                        </span>
                        <h3 style="margin-top:0;"> {{ page.title }} </h3>
            {% endif %}

            {{ content }}

            {% if page.id %}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

    {% include footer.html %}

<!-- scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="{{ site.baseurl }}/plugins/textillate-master/assets/jquery.fittext.js"></script>
<script src="{{ site.baseurl }}/plugins/textillate-master/assets/jquery.lettering.js"></script>
<script src="{{ site.baseurl }}/plugins/textillate-master/jquery.textillate.js"></script>
<script>
    $('.tlt').textillate({
  // the default selector to use when detecting multiple texts to animate
  selector: '.texts',

  // enable looping
  loop: false,

  // sets the minimum display time for each text before it is replaced
  minDisplayTime: 2000,

  // sets the initial delay before starting the animation
  // (note that depending on the in effect you may need to manually apply
  // visibility: hidden to the element before running this plugin)
  initialDelay: 30,

  // set whether or not to automatically start animating
  autoStart: true,

  // custom set of 'in' effects. This effects whether or not the
  // character is shown/hidden before or after an animation
  inEffects: [],

  // custom set of 'out' effects
  outEffects: [],

  // in animation settings
  in: {
    // set the effect name
    effect: 'bounceInUp',

    // set the delay factor applied to each consecutive character
    delayScale: .3,

    // set the delay between each character
    delay: 75,

    // set to true to animate all the characters at the same time
    sync: false,

    // randomize the character sequence
    // (note that shuffle doesn't make sense with sync = true)
    shuffle: false,

    // reverse the character sequence
    // (note that reverse doesn't make sense with sync = true)
    reverse: false,

    // callback that executes once the animation has finished
    callback: function () {}
  },

  // out animation settings.
  out: {
    effect: 'none',
    delayScale: 1.5,
    delay: 50,
    sync: false,
    shuffle: false,
    reverse: false,
    callback: function () {}
  },

  // callback that executes once textillate has finished
  callback: function () {},

  // set the type of token to animate (available types: 'char' and 'word')
  type: 'char'
}); 

    $('#search-box') === $(document.activeElement) ? console.log('active') : $('.search-icon').removeClass('active');

    $('#{{ page.title }}').addClass('active');

    $('.grid').masonry({
      // options
      itemSelector: '.grid-item' });
</script>

{% if page.title == "Pretty Weird Art" %}
<script src="{{ site.baseurl }}/js/vibran.min.js"></script>
<img id="landing-img" src="{% for comic in site.comics limit:1 %}{{ comic.image_path }}{% endfor %}" style="display:none" />
<script>
  var img = document.getElementById('landing-img');
  if (img != null) var vibrant = new Vibrant(img);
  var swatches = vibrant.swatches();
  var feature = document.getElementById('landing-bg');
  var color = swatches['Vibrant'].getHex();
  if (feature != null) feature.style.backgroundColor = color;
</script>
  {% assign updates = (site.documents | sort: 'date') | reverse %}
  {% for item in updates limit:10 %}
    {% if item.image_path %}
      <img id="feature-image-{{ forloop.index }}" src="{{ item.image_path }}" style="display:none" />
      <script>
        var img = document.getElementById('feature-image-{{ forloop.index }}');
        if (img != null) var vibrant = new Vibrant(img);
        var swatches = vibrant.swatches();
        var feature = document.getElementById('feature-{{ forloop.index }}');
        var color = swatches['Vibrant'].getHex();
        console.log(color);
        if (feature != null) feature.style.backgroundColor = color;
      </script>
    {% else %}
    {% endif %}
  {% endfor %}
{% endif %}


</body>

</html>